@{
    ViewData["Title"] = "Payment Successful";
}


<!-- Starter Section Section -->
<section id="starter-section" class="starter-section section">

    <div class="card">
        
    <!-- Section Title -->
      
        <div class="card-body">
    <div class="container section-title" data-aos="fade-up">
        <h3>Payment Successful</h3>
        <p>Your payment was successful. Thank you for booking your movie tickets!</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up">
        <p></p>
        <br />
        <br />
        <a asp-area="" asp-controller="Movie" asp-action="Index" class="nav-link">Book Movies</a>
            </div>
        </div>
    </div>

</section><!-- /Starter Section Section -->





