@model Movie

@{
    ViewData["Title"] = "Create Movie";
}


<section id="starter-section" class="starter-section section">

    <div class="card">
        <div class="card-header">
            <div class="container section-title" data-aos="fade-up">
                <h2>Create Movie</h2>
            </div><!-- End Section Title -->
        </div>


        <div class="card-body">
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>
        <div class="col-6">
        <label for="Genre">Genre</label>
        <input type="text" class="form-control" id="Genre" name="Genre" required />
        </div>
    </div> <div class="row">
        <div class="col-6">
        <label for="ShowTime">ShowTime</label>
        <input type="datetime-local" class="form-control" id="ShowTime" name="ShowTime" required />
    </div>
        <div class="col-6">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="Price" name="Price" required />
        </div>
    </div> <div class="row">
        <div class="col-6">
        <label for="CoverImage">Cover Image</label>
        <input type="file" class="form-control" id="CoverImage" name="coverImage" />
    </div>
        <div class="col-6">
        <label for="PosterImage">Poster Image</label>
        <input type="file" class="form-control" id="PosterImage" name="posterImage" />
    </div></div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
        </div>
    </div>
    </section>