@model CreateSeatsViewModel

<!-- Starter Section Section -->
<section id="starter-section" class="starter-section section">

    <div class="card">
        <div class="card-header">
            <div class="container section-title" data-aos="fade-up">
                <h2>Create Seats</h2>
            </div><!-- End Section Title -->
        </div>
       
        
        <div class="card-body">
<form method="post" action="/Admin/CreateSeatsForMovie">
            
             
        <label for="MovieId">Select Movie:</label>
                <select id="MovieId" name="MovieId" class="form-control">
            @foreach (var movie in (SelectList)ViewData["Movies"])
            {
                <option value="@movie.Value" >@movie.Text</option>
            }
        </select>

    
        <br/>
 
        <label for="RowGroupId">Select Row Group:</label>
                <select id="RowGroupId" name="RowGroupId" class="form-control">
            <!-- RowGroups will be populated via AJAX after selecting a movie -->
            @foreach (var rowgroup in (SelectList)ViewData["RowGroup"])
            {
                        <option value="@rowgroup.Value" >@rowgroup.Text</option>
            }
        </select>

                <br/>
        <label for="NumRows">Enter Number of Rows:</label>
                <input type="number" class="form-control" id="NumRows" name="NumRows" min="1" />

                <br/>
  
        <label for="NumColumns">Enter Number of Columns:</label>
                <input type="number" class="form-control" id="NumColumns" name="NumColumns" min="1" />


    <button type="submit">Create Seats</button>
</form>
            </div>
    </div>

</section>
   
   




