

 @model Movie
<section id="starter-section" class="starter-section section">

    <div class="card">
        <div class="card-header">
            <div class="container section-title" data-aos="fade-up">

                <h2>Edit Row Group</h2>
            </div><!-- End Section Title -->
        </div>


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()


    <div class="row">
    <div class="col-6">
 
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
        <div class="col-6">
 
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>
        <div class="row">
            <div class="col-4">

        <label asp-for="CoverImage">Cover Image (Optional)</label>
        <input type="file" name="coverImage" class="form-control" />
    </div>
                <div class="col-4">
 
        <label asp-for="PosterImage">Poster Image (Optional)</label>
        <input type="file" name="posterImage" class="form-control" />
    </div>
                    <div class="col-4">

        <label asp-for="Trailer">Trailer (Optional - Video URL or File)</label>
        <input type="file" name="trailerFile" class="form-control" />
            </div>  <div class="row">
                        <div class="col-4">

        <label asp-for="ShowTime"></label>
        <input asp-for="ShowTime" class="form-control" />
        <span asp-validation-for="ShowTime" class="text-danger"></span>
    </div>
                            <div class="col-4">
  
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
                <div class="row">
                    <div class="col-6">
  
        <label asp-for="Cast"></label>
        <input asp-for="Cast" class="form-control" />
        <span asp-validation-for="Cast" class="text-danger"></span>
    </div>
                                    <div class="col-6">

        <label asp-for="Plot"></label>
        <textarea asp-for="Plot" class="form-control"></textarea>
        <span asp-validation-for="Plot" class="text-danger"></span>
    </div>
                </div>
            </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
    </div>
    </section>
