@model Movie
@{
    var averageRating = ViewBag.AverageRating as decimal?;
}

<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Movie Details</h2>
@*         <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
 *@    </div><!-- End Section Title -->

    <div class="container">
        <br />
        <br />

        <br />
        <br />
<p><strong>Average Rating:</strong></p>
<div class="star-rating">
    @for (int i = 1; i <= 5; i++)
    {
        <i class="fa @(averageRating >= i ? "fa-star" : "fa-star-o")" aria-hidden="true"></i>
    }
</div>

<p><strong>Showtime:</strong> @Model.ShowTime.ToString("MMMM dd, yyyy h:mm tt")</p>
<p><strong>Price:</strong> @Model.Price.ToString("C")</p>
    </div>

    </section>